.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-hover {
  width: 11.75em;
}

.icon-logo-1 {
  width: 0.9375em;
}

.icon-logo-2 {
  width: 0.76953125em;
}

.icon-logo-3 {
  width: 0.9765625em;
}

.icon-logo-4 {
  width: 2em;
}

.icon-logo-5 {
  width: 1.2548828125em;
}

.icon-logo-6 {
  width: 1.9775390625em;
}

.icon-mail-logo {
  width: 1.4541015625em;
}

.icon-phone-logo {
  width: 0.6669921875em;
}

.icon-twitter {
  width: 1.111328125em;
}
